* {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.textArea {
  margin-top: 10vh;
}

.correct {
  color: green;
}
.incorrect {
  color: red;
  text-decoration: underline dotted;
}
.upcoming {
  color: purple;
}
